@import "src/scss/mixins.scss";

.root {
  font-family: $nts-font-family;

  &.locales {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    @include breakpoint("xxl") {
      font-size: 16px;
    }
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  @each $color, $_ in $nts-colors {
    &.#{$color} {
      color: get-color($color, base);
    }
  }
}
