@import "./reset.scss";
@import "./fonts.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $nts-font-family, Arial, Verdana, sans-serif;
}

#__next {
  overflow-x: hidden;
  overflow-y: hidden;
}
