$nts-font-family: "Gilroy";

$nts-containers: (
  xxl: calc(100% - 52px),
  xl: calc(100% - 38px),
  lg: calc(100% - 34px),
  md: 1024px,
  sm: 768px,
  xsm: 375px,
);

$nts-breakpoints: (
  xsm: 375px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
  xxl: 1920px,
);

$nts-colors: (
  paragraph: (
    base: #212121,
    secondary: #ff474d,
  ),
  background: (
    base: #ffffff,
    secondary: #f6f6f6,
  ),
);

$nts-transition-time: 0.25s;
